<?xml version='1.0' encoding='utf-8'?>
<widget id="at.wifiwien.testapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>...</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />

    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />

    <platform name="android">
        <icon density="ldpi" src="www/icon.png" />
        <splash density="land-ldpi" src="www/icon.png" />

    </platform>

    <access origin="*" />
    <allow-intent href="https://*/*" />


</widget>
